@layer base {
  html {
    scroll-behavior: smooth;
    /* font-size: 14px; */
  }

  body {
    margin: 0;
    font-family: "Inter", Arial, Helvetica, sans-serif;
    font-weight: var(--fw-normal);
    color: var(--c-text);
    background-color: var(--c-background);
  }

  h1,
  h2,
  h3 {
    font-family: var(--f-heading);
  }

  a {
    color: inherit;
    text-decoration: none;
    font-family: inherit;
  }

  a:hover {
    text-decoration: underline;
    text-underline-offset: 0.15rem;
    text-decoration-thickness: 0.15rem;
  }
}
