@layer components {
  .site-header {
    .header-content {
      padding-inline: 1rem;
      padding-block: 1rem;

      .logo {
        inline-size: 6rem;
      }

      .design-line-wrapper {
        img {
          height: 0.5rem;
          width: 100%;
        }
      }

      .menu {
        position: relative;

        .menu-button {
          background-color: var(--c-background);
          border: none;
          height: 1rem;
          width: 1.5rem;
          cursor: pointer;
          position: relative;

          span {
            position: absolute;
            display: block;
            height: 0.2rem;
            width: 100%;
            border-radius: 1rem;
            background-color: var(--c-text);
            left: 0;
            transition: transform ease-in 0.25s;
          }

          span:nth-child(1) {
            top: 0;
          }

          span:nth-child(2) {
            top: 50%;
            transform: translateY(-50%);
          }

          span:nth-child(3) {
            bottom: 0;
          }

          &.menu-open {
            span:nth-child(1) {
              transform: translateY(0.4rem) rotate(45deg);
            }

            span:nth-child(2) {
              opacity: 0;
            }

            span:nth-child(3) {
              transform: translateY(-0.4rem) rotate(-45deg);
            }
          }
        }

        .nav[hidden] {
          display: none;
        }

        .nav {
          position: absolute;
          inset-block-start: 2rem;
          inset-inline-end: 0rem;

          ul {
            display: flex;
            flex-direction: column;
            gap: 0.5rem;

            padding-block: 1rem;
            padding-inline-start: 1rem;
            padding-inline-end: 4rem;
            border-radius: 1rem;

            background-color: var(--c-text);
            color: var(--c-background);
            font-weight: var(--fw-semibold);
          }
        }
      }
    }
  }

  .site-footer {
    color: var(--c-background);
    font-size: var(--fs-footer);

    .footer-content-container {
      background-color: var(--c-primary);

      .footer-content {
        padding-block: 2.5rem;
        padding-inline: 1rem;

        .brand {
          .logo {
            width: 6rem;
          }
        }

        .un-sdgs {
          padding-inline: 1rem;
          max-width: 25rem;
          img {
            width: 100%;
            /* max-width: 5.5rem; */
          }
        }

        .nav {
          padding-inline-start: 1rem;

          h2 {
            font-weight: 600;
            font-size: 1rem;
          }
        }

        .contact-details {
          h2 {
            font-weight: 600;
            font-size: 1rem;
          }
        }
      }
    }

    .copyright {
      background-color: var(--c-text);
      padding-block: 1.5rem;
      padding-inline: 1rem;
    }
  }

  @media (min-width: 450px) {
    .site-header {
      .header-content {
        padding-inline: 2rem;
      }
    }

    .site-footer {
      .footer-content-container {
        .footer-content {
          padding-inline: 2rem;

          .un-sdgs {
            align-self: center;
          }
        }
      }
    }
  }

  @media (min-width: 760px) {
    .site-header {
      .header-content {
        padding-inline: 3rem;
      }
    }

    .site-footer {
      .footer-content-container {
        .footer-content {
          padding-inline: 3rem;

          .un-sdgs {
            padding-inline: 0;
            align-self: self-start;
          }

          .nav {
            padding-inline-start: 0;
          }
        }
      }
    }
  }

  @media (min-width: 1024px) {
    .site-header {
      .header-content {
        .brand {
          .logo {
            inline-size: 8rem;
          }
        }

        .design-line-wrapper {
          img {
            height: 0.8rem;
          }
        }

        .menu {
          .menu-button {
            display: none;
          }

          .nav[hidden] {
            display: block;
          }

          .nav {
            position: relative;
            inset-block: 0;
            inset-inline: 0;

            ul {
              flex-direction: row;
              gap: 0;
              justify-content: space-between;

              padding-block: 0;
              padding-inline: 0;

              border-radius: 0;
              background-color: var(--c-background);
              color: var(--c-primary);
            }
          }
        }
      }
    }

    .site-footer {
      .footer-content-container {
        .footer-content {
          .brand {
            .logo {
              width: 8rem;
            }
          }

          .un-sdgs {
            max-width: 40rem;
          }
        }
      }
    }
  }

  @media (min-width: 1200px) {
    .site-header {
      .header-content {
        .brand {
          .logo {
            inline-size: 10rem;
          }
        }
      }
    }
  }
}
