.contact .contact-header {
  display: flex;
  flex-direction: column;
  row-gap: 1.5rem;
}

.contact-layout {
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 2rem;
}

.contact .contact-form {
  display: flex;
  flex-direction: column;
  row-gap: 2rem;
}

.contact .form-field {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
}

.contact input,
.contact textarea {
  padding-block: 1rem;
  padding-inline: 1rem;
  border-radius: 0.5rem;
  border: 1px solid var(--c-text);
  font-size: 1rem;
}

.contact input::placeholder,
.contact textarea::placeholder {
  font-family: var(--f-text);
  font-size: 1rem;
  font-style: italic;
  opacity: 1;
}

.contact button {
  border: none;
}

.contact .contact-details {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.contact .contact-details .address-block,
.contact .contact-details ul li {
  display: flex;
  gap: 1rem;
}

.contact .contact-details ul {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.contact .contact-details img {
  height: 1.5rem;
  width: auto;
}

.contact .privacy-notice {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

@media (min-width: 760px) {
  .contact-layout {
    grid-template-columns: 1fr 1fr;
    column-gap: 4rem;
  }
}
