.site-footer {
  color: var(--c-footer-text);
  font-size: var(--fs-footer);
}

.site-footer .footer-content-container {
  background-color: var(--c-footer-background);
}

.site-footer .footer-content {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: repeat(3, auto);
  grid-template-areas: "brand brand" "sdgs sdgs" "nav contacts";
  column-gap: 2rem;
  row-gap: 2.5rem;
  padding-block: 2.5rem;
  padding-inline: 1rem;
}

.site-footer .brand {
  grid-area: brand;
}

.site-footer .logo {
  width: 6rem;
}

.site-footer .un-sdgs {
  grid-area: sdgs;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 0.5rem;
  align-items: center;
  max-width: 25rem;
  padding-inline: 1rem;
}

.site-footer .un-sdgs img {
  width: 100%;
}

.site-footer .nav {
  grid-area: nav;
  display: flex;
  flex-direction: column;
  row-gap: 0.5rem;
  padding-inline-start: 1rem;
}

.site-footer .nav h2 {
  font-weight: 600;
  font-size: 1rem;
}

.site-footer .nav ul {
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
}

.site-footer .contact-details {
  grid-area: contacts;
  display: flex;
  flex-direction: column;
  row-gap: 0.5rem;
}

.site-footer .contact-details h2 {
  font-weight: 600;
  font-size: 1rem;
}

.site-footer .contact-details > div {
  display: flex;
  flex-direction: column;
}

.site-footer .copyright {
  text-align: center;
  background-color: var(--c-text);
  padding-block: 1.5rem;
  padding-inline: 1rem;
}

@media (min-width: 450px) {
  .site-footer .footer-content {
    grid-template-rows: repeat(2, auto);
    grid-template-areas: "brand sdgs" "nav contacts";
    padding-inline: 2rem;
  }

  .site-footer .un-sdgs {
    align-self: center;
  }
}

@media (min-width: 760px) {
  .site-footer .footer-content {
    grid-template-columns: auto auto auto auto;
    grid-template-rows: auto;
    grid-template-areas: "brand sdgs nav contacts";
    padding-inline: 3rem;
  }

  .site-footer .un-sdgs {
    padding-inline: 0;
    align-self: self-start;
  }

  .site-footer .nav {
    padding-inline-start: 0;
  }
}

@media (min-width: 1024px) {
  .site-footer .footer-content {
    max-width: var(--w-page-max);
    margin-inline: auto;
    justify-content: space-between;
  }

  .site-footer .logo {
    width: 8rem;
  }

  .site-footer .un-sdgs {
    max-width: 40rem;
  }
}
