.site-header {
  position: sticky;
  top: 0;
  background-color: var(--c-background);
  border-bottom: 1px solid var(--c-border);
}

.site-header .header-content {
  display: flex;
  align-items: center;
  gap: 2.5rem;

  max-inline-size: var(--w-page-max);
  margin-inline: auto;

  padding-inline: 1rem;
  padding-block: 1rem;
}

.site-header .brand {
  order: 1;
}

.site-header .logo {
  inline-size: 6rem;
}

.site-header .design-line-wrapper {
  order: 2;
  flex: 1;
}

.site-header .design-line {
  height: 0.5rem;
  width: 100%;
}

.site-header .menu {
  order: 3;
  position: relative;
}

.site-header .menu-button {
  background-color: var(--c-background);
  border: none;
  height: 1rem;
  width: 1.5rem;
  cursor: pointer;
  position: relative;
}

.site-header .menu-button span {
  position: absolute;
  display: block;
  left: 0;
  height: 0.2rem;
  width: 100%;
  border-radius: 1rem;
  background-color: var(--c-text);
  transition: transform ease-in 0.25s;
}

.site-header .menu-button span:nth-child(1) {
  top: 0;
}

.site-header .menu-button span:nth-child(2) {
  top: 50%;
  transform: translateY(-50%);
}

.site-header .menu-button span:nth-child(3) {
  bottom: 0;
}

.site-header .menu-button.menu-open span:nth-child(1) {
  transform: translateY(0.4rem) rotate(45deg);
}

.site-header .menu-button.menu-open span:nth-child(2) {
  opacity: 0;
}

.site-header .menu-button.menu-open span:nth-child(3) {
  transform: translateY(-0.4rem) rotate(-45deg);
}

.site-header .nav[hidden] {
  display: none;
}

.site-header .nav {
  position: absolute;
  inset-block-start: 2rem;
  inset-inline-end: 0rem;
}

.site-header .nav ul {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;

  padding-block: 1rem;
  padding-inline-start: 1rem;
  padding-inline-end: 4rem;
  border-radius: 1rem;

  background-color: var(--c-text);
  color: var(--c-background);
  font-weight: var(--fw-semibold);
}

.site-header .nav ul li a[aria-current="page"] {
  font-weight: var(--fw-black);
  text-decoration: underline;
  text-underline-offset: 0.2rem;
}

@media (min-width: 450px) {
  .site-header .header-content {
    padding-inline: 2rem;
  }
}

@media (min-width: 760px) {
  .site-header .header-content {
    padding-inline: 3rem;
  }
}

@media (min-width: 1024px) {
  .site-header .header-content {
    gap: 2rem;
  }

  .site-header .brand {
    order: 2;
  }

  .site-header .logo {
    inline-size: 8rem;
  }

  .site-header .design-line-wrapper {
    order: 1;
  }

  .site-header .design-line {
    height: 0.8rem;
  }

  .site-header .menu {
    order: 3;
    flex: 1;
  }

  .site-header .menu-button {
    display: none;
  }

  .site-header .nav[hidden] {
    display: block;
  }

  .site-header .nav {
    position: relative;
    inset-block: 0;
    inset-inline: 0;
  }

  .site-header .nav ul {
    flex-direction: row;
    gap: 0;
    justify-content: space-between;

    padding-block: 0;
    padding-inline: 0;

    border-radius: 0;
    background-color: var(--c-background);
    color: var(--c-primary);
  }
}

@media (min-width: 1200px) {
  .site-header .header-content {
    gap: 5rem;
  }

  .site-header .logo {
    inline-size: 10rem;
  }
}
