/* SECTION: Hero */

.hero {
  display: flex;
  flex-direction: column;
  row-gap: 1.5rem;
}

.hero .hero-image {
  max-width: 35rem;
}

.hero .hero-content {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
}

.hero .cta-button {
  margin-block-start: 0.5rem;
}

@media (min-width: 760px) {
  .hero {
    flex-direction: row-reverse;
    justify-content: space-between;
  }

  .hero .hero-image {
    max-width: 30rem;
  }
}

@media (min-width: 1024px) {
  .hero .hero-content {
    max-width: 45rem;
  }
}

/* SECTION: What We Stand For (Values) */

.values {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
}

.values .values-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 1rem;
}

.values .value-card {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
  background-color: var(--c-black-10);
  padding-block: 1rem;
  padding-inline: 1rem;
  border-radius: 0.5rem;
}

.values .value-card dt {
  font-size: 1rem;
  font-weight: var(--fw-semibold);
}

.values .value-card img {
  width: 2.5rem;
}

@media (min-width: 1024px) {
  .values {
    gap: 4rem;
  }

  .values .values-grid {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }
}

/* SECTION: UN Sustainability Goals We Support */

.sdgs {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
}

.sdgs .sdgs-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 1rem;
}

.sdgs .sdg-card img {
  max-width: 15rem;
}

.sdgs .sdg-card img:hover {
  box-shadow: 0 0.3rem 0.5rem black;
}

@media (min-width: 760px) {
  .sdgs .sdgs-grid {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr;
  }
}

@media (min-width: 1024px) {
  .sdgs {
    gap: 4rem;
  }
}
