.practice .practice-header {
  display: flex;
  flex-direction: column;
  row-gap: 1.5rem;
}

.practice .table-wrapper {
  overflow-x: auto;
  position: relative;
  width: 100%;
  max-width: 100%;
  -webkit-overflow-scrolling: touch;
}

.practice .table-hint {
  font-size: 0.8rem;
  margin-block-end: 1rem;
}

.practice table {
  min-width: 1000px;
  border-collapse: collapse;
  border: 1px solid var(--c-black-50);
}

.practice table tr {
  border: 1px solid var(--c-black-50);
}

.practice table thead tr th {
  background-color: var(--c-text);
  color: var(--c-background);
  padding-block: 0.8rem;
  padding-inline: 1rem;
  text-align: left;
}

.practice table tbody tr > * {
  padding-block: 0.8rem;
  padding-inline: 1rem;
  text-align: left;
}

@media (min-width: 1100px) {
  .practice .table-hint {
    display: none;
  }
}
