.references .references-header {
  display: flex;
  flex-direction: column;
  row-gap: 1.5rem;
}

.references .references-list {
  padding-inline-start: 1.25rem;
  display: flex;
  flex-direction: column;
  row-gap: 1.25rem;
}

.references .references-list li {
  line-height: 1.6;
}

.references .references-list em {
  font-style: italic;
  font-weight: var(--fw-semibold);
}

.references .references-list li::marker {
  font-weight: var(--fw-semibold);
  color: var(--c-primary);
}

.references a {
  color: var(--c-primary);
  text-decoration: underline;
  text-underline-offset: 0.2rem;
  word-break: break-word;
}

.references a:hover {
  text-decoration-thickness: 0.15rem;
}

.references .references-list li:not(:last-child) {
  padding-bottom: 1rem;
  border-bottom: 1px solid var(--c-black-20);
}
