@layer states {
  .site-header {
    .header-content {
      .menu {
        .menu-button {
          span {
            transition: transform ease-in 0.25s;
          }

          &.menu-open {
            span:nth-child(1) {
              transform: translateY(0.4rem) rotate(45deg);
            }

            span:nth-child(2) {
              opacity: 0;
            }

            span:nth-child(3) {
              transform: translateY(-0.4rem) rotate(-45deg);
            }
          }
        }

        .nav {
          ul {
            li {
              a[aria-current="page"] {
                font-weight: var(--fw-black);
                text-decoration: underline;
                text-underline-offset: 0.2rem;
              }
            }
          }
        }
      }
    }
  }
}
