:root {
  --w-page-max: 1440px;
  --w-text-max: 660px;

  --f-heading: "Poppins", "Inter", Arial, Helvetica, system-ui, sans-serif;
  --f-text: "Inter", Arial, Helvetica, system-ui, sans-serif;

  --fw-normal: 300;
  --fw-semibold: 600;
  --fw-black: 900;

  --fs-footer: 0.8rem;

  --logo-sm: 6rem;
  --logo-lg: 10rem;

  --c-black: #1f2937; /* charcoal */
  --c-black-10: #1f293710;
  --c-black-20: #1f293720;
  --c-black-50: #1f293750;
  --c-white: #ffffff;
  --c-blue: #1e3a8a;
  --c-blue-30: #1e3a8a30;
  --c-blue-dim: #0b2264;
  --c-gold: #fbbf24;
  --c-gold-dim: #e5ae1f;

  --c-text: var(--c-black);
  --c-background: var(--c-white);
  --c-primary: var(--c-blue);
  --c-accent: var(--c-gold);
  --c-border: var(--c-black-20);
  --c-background-rgb: 255, 255, 255;

  --c-footer-background: var(--c-primary);
  --c-footer-text: var(--c-background);
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  vertical-align: middle;
  box-sizing: border-box;
  /* outline: 1px solid rgba(243, 35, 35, 0.581); */
}

ul {
  list-style: none;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

html {
  scroll-behavior: smooth;
  font-size: 14px;
}

body {
  font-family: var(--f-text);
  font-weight: var(--fw-normal);
  color: var(--c-text);
  background-color: var(--c-background);
}

h1,
h2,
h3 {
  font-family: var(--f-heading);
  max-width: var(--w-text-max);
}

h1 {
  color: var(--c-primary);
}

p {
  max-width: var(--w-text-max);
}

a {
  color: inherit;
  text-decoration: none;
  font-family: inherit;
  max-width: var(--w-text-max);
}

a:hover {
  text-decoration: underline;
  text-underline-offset: 0.15rem;
  text-decoration-thickness: 0.15rem;
}

footer a {
  text-decoration: underline;
}

strong {
  font-weight: var(--fw-semibold);
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip-path: inset(50%);
  white-space: nowrap;
  border: 0;
  outline: 0;
}

.button {
  display: flex;
  flex-direction: row;
  column-gap: 0.5rem;
  width: fit-content;
  padding-block: 0.5rem;
  padding-inline: 1rem;
  border-radius: 0.5rem;
}

.cta-button {
  color: var(--c-text);
  background-color: var(--c-accent);
  font-weight: var(--fw-semibold);
}

.cta-button:hover {
  text-decoration: none;
  background-color: var(--c-gold-dim);
}

.cta-button:active {
  color: var(--c-background);
  background-color: var(--c-text);
}

.secondary-button {
  background-color: var(--c-primary);
  color: var(--c-background);
  font-weight: var(--fw-semibold);
}

.secondary-button:hover {
  text-decoration: none;
  background-color: var(--c-blue-dim);
}

.secondary-button:active {
  background-color: var(--c-text);
}

button:focus-visible,
.cta-button:focus-visible,
.secondary-button:focus-visible {
  outline: 3px solid var(--c-accent);
  outline-offset: 3px;
}

main {
  max-width: var(--w-page-max);
  margin-inline: auto;

  display: flex;
  flex-direction: column;
  gap: 4rem;

  padding-block: 4rem;
  padding-inline: 1rem;
}

.page-section {
  display: flex;
  flex-direction: column;
  row-gap: 2rem;
}

.page-title {
  font-size: 2rem;
  font-weight: var(--fw-black);
}

.page-subtitle {
  font-size: 1.5rem;
  font-weight: var(--fw-semibold);
}

@media (min-width: 450px) {
  main {
    padding-inline: 2rem;
  }
}

@media (min-width: 760px) {
  main {
    gap: 6rem;
    padding-block: 6rem;
    padding-inline: 3rem;
  }
}

@media (min-width: 1024px) {
  html {
    font-size: 16px;
  }

  main {
    gap: 8rem;
    padding-block: 8rem;
  }

  .page-section {
    row-gap: 3rem;
  }
}
