:root {
  --color-blue: #1e3a8a;
  --color-gold: #fbbf24;
  --color-charcoal: #1f2937;
  --color-white: #fcfdfd;
  --color-grey: #eeeeee;

  --font-poppins: "Poppins", sans-serif;
  --font-inter: "Inter", sans-serif;

  --mobile-width: 402px;
}

* {
  margin: 0;
  padding: 0;
  list-style: none;
  vertical-align: middle;
  font-size: 14px;
  font-family: var(--font-inter);
  line-height: 1.5;
  box-sizing: border-box;
}

body {
  background-color: var(--color-charcoal);
  color: var(--color-charcoal);
}

.layout {
  display: flex;
  flex-direction: column;
  max-width: var(--mobile-width);
  margin: 0 auto;
  background-color: var(--color-white);
  gap: 5rem;
}

/* HEADER */

header {
  margin: 0 auto;
  padding: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

header .design-line-mb {
  width: 14rem;
}

header .design-line-dt {
  display: none;
}

header .logo {
  width: 6rem;
}

.nav-container-mb {
  display: flex;
  position: relative;
}

.nav-container-mb nav {
  display: none;
}

.nav-container-mb.nav-open nav {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  position: absolute;
  top: 3rem;
  right: 0rem;
  background-color: var(--color-charcoal);
  border-radius: 0.5rem;
  padding: 1rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.nav-container-mb nav a {
  color: var(--color-white);
  text-decoration: none;
  font-weight: 400;
}

.nav-container-mb nav a:hover {
  text-decoration: underline;
}

.nav-container-mb nav a:active {
  font-weight: 600;
}

.nav-container-mb .menu-icon {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 1.5rem;
  height: 1.2rem;
  cursor: pointer;
}

.nav-container-mb .menu-icon span {
  display: block;
  height: 0.2rem;
  background-color: var(--color-charcoal);
  border-radius: 0.1rem;
  transition: all 0.3s ease;
}

.nav-container-mb.nav-open .menu-icon span:nth-child(1) {
  transform: rotate(45deg);
  margin-top: 0.5rem;
}

.nav-container-mb.nav-open .menu-icon span:nth-child(2) {
  transform: scale(0);
}

.nav-container-mb.nav-open .menu-icon span:nth-child(3) {
  transform: rotate(-45deg);
  margin-bottom: 0.5rem;
}

.nav-container-dt {
  display: none;
}

/* MAIN CONTENT */

main {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 4.5rem;
}

main h1,
main h2,
main h3 {
  font-family: var(--font-poppins);
}

main h1 {
  font-size: 2.5rem;
  font-weight: 900;
  color: var(--color-blue);
  line-height: 1;
}

.section__title {
  font-size: 1.5rem;
  font-weight: 900;
}

main h3 {
  font-size: 1rem;
  font-weight: 600;
}

section {
  display: flex;
  flex-direction: column;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5rem 1rem;
  text-decoration: none;
  font-weight: 600;
  width: fit-content;
  border-radius: 0.5rem;
}

.cta-button {
  background-color: var(--color-gold);
  color: var(--color-charcoal);
}

.secondary-button {
  background-color: var(--color-blue);
  color: var(--color-white);
}

/* SECTION - HERO */

.hero {
  gap: 2rem;
}

.hero__subtitle {
  font-size: 1.5rem;
  font-weight: 500;
}

.hero__text {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.hero__paras {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}

.hero .cta-button {
  margin-top: 1rem;
}

/* SECTION - WHAT WE STAND FOR */

.what-we-stand-for {
  gap: 3.5rem;
}

.what-we-stand-for .cards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1.5rem 1rem;
}

.what-we-stand-for .card {
  max-width: 12rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  background-color: var(--color-grey);
  padding: 1rem;
  border-radius: 0.5rem;
}

.what-we-stand-for .card img {
  width: 3rem;
}

/* SECTION - US SDGs We Support */

.un-sdgs-we-support {
  gap: 3.5rem;
}

.un-sdgs-we-support .goals {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1rem;
}

.un-sdgs-we-support .goals img {
  width: calc(50% - 0.5rem);
}

/* FOOTER */

footer {
  display: flex;
  flex-direction: column;
  color: var(--color-white);
  font-size: 0.8rem;
}

footer .upper {
  background-color: var(--color-blue);
  padding: 2rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 2rem;
  justify-content: space-between;
}

footer a,
footer span,
footer p {
  color: var(--color-white);
  font-size: 0.9rem;
}

footer .logo {
  width: 8rem;
}

footer .sdgs {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 0.5rem;
}

footer .sdgs img {
  width: 5.5rem;
}

footer .navigation {
  display: flex;
  flex-direction: column;
  justify-content: right;
  gap: 1rem;
}

footer .address,
footer .other {
  display: flex;
  flex-direction: column;
}

footer .page_nav {
  font-weight: bold;
}

footer .lower {
  background-color: var(--color-charcoal);
  padding: 2rem;
  text-align: center;
}
/* MEDIA QUERIES */

@media screen and (min-width: 768px) {
  :root {
    --mobile-width: 720px;
  }

  header {
    padding: 2rem;
  }

  header .design-line-mb {
    width: 20rem;
  }

  header .logo {
    width: 7rem;
  }

  section {
    padding: 0 2rem;
  }

  .hero img {
    width: 30rem;
    margin: auto;
  }

  .un-sdgs-we-support .goals img {
    width: 10rem;
  }

  footer .upper {
    padding: 3rem 3rem;
    gap: 3rem;
  }

  footer .sdgs img {
    width: 6rem;
  }

  footer .navigation {
    flex-direction: row;
    gap: 3rem;
  }
}

@media screen and (min-width: 1024px) {
  :root {
    --mobile-width: 1000px;
  }

  header .design-line-mb {
    display: none;
  }

  header .design-line-dt {
    display: block;
    width: 25rem;
  }

  header .logo {
    width: 8rem;
  }

  header .nav-container-mb {
    display: none;
  }

  .nav-container-dt {
    display: flex;
  }

  nav a {
    text-decoration: none;
    margin-left: 1rem;
    color: var(--color-charcoal);
  }

  nav a:hover {
    text-decoration: underline;
  }

  nav a:active {
    font-weight: 600;
  }

  nav .active {
    font-weight: 900;
  }

  footer .upper {
    gap: 2rem;
  }

  footer .navigation {
    gap: 1rem;
  }

  footer .sdgs img {
    width: 4rem;
  }
}
